.dblp-kg {
    background-image: url('../images/dblp-kg.png');
    background-size: contain;
    background-repeat: none;
    width: 557px;
    height: 133px;
    margin: 24px;
}

.headline {
    background: #606b70;
    color: #ffffff;
    padding: 4px 24px;
    margin: 0px 0px 24px 0px;
}

.headline h1 {
    font-size: x-large;
    font-weight: 600;
    display: inline
}
