.topbar {
    height: 30px;
    position: absolute;
    right: 24px;
    top: 0px;
    background: #606b70;
    color: #ffffff;
    padding: 2px 24px 0px 24px;
    font-size: 12pt;
}

.topbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topbar ul li {
    display: inline;
}

.topbar ul li:not(:last-child)::after {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}

.topbar ul li a:link {
    color: #ffffff;
    text-decoration: none;
}

.topbar ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.topbar ul li a:active {
    color: #ffffff;
    text-decoration: underline;
}

.topbar ul li a:visited {
    color: #ffffff;
    text-decoration: none;
}

.dblp-kg {
    background-image: url('../images/dblp-kg.png');
    background-size: contain;
    background-repeat: none;
    width: 557px;
    height: 133px;
    margin: 24px;
}

.headline {
    background: #606b70;
    color: #ffffff;
    padding: 4px 24px;
    margin: 0px 0px 24px 0px;
}

.headline h1 {
    font-size: x-large;
    font-weight: 600;
    display: inline
}
