@import 'header';
@import 'content';
@import 'footer';
@import 'pygmentize';

body {
    color: #505b62;
    background: #cccccc;
    font-weight: 400;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

main {
    position: relative;
    min-width: 500px;
    max-width: 1150px;
    background: #ffffff;
    margin: 0px auto;
    padding: 10px 24px;
}

a {
    color: #7d848a;
    text-decoration: none;
}

a:hover {
    color: #1889c4;
    text-decoration: underline;
}
