
// W3C TR
@import 'base';
// @import 'extra';
// @import 'light';

@import 'navbar';
@import 'footer';
@import 'pygmentize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    padding: 80px 30px;
    flex: 1 0 auto;
}

.dblp-kg {
    background-image: url('../images/dblp-kg.png');
    background-size: contain;
    background-repeat: none;
    width: 557px;
    height: 133px;
}

.example {
    position: relative;
    max-width: 1000px;
    margin: 0;
    
    .run {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 32px;
	width: 32px;
	background-image: url('../images/play-button.svg');
	background-size: 32px;
	opacity: 0.7;
    }
}

