<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dblp KG</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        $partial("templates/nav.html")$

        <main>
            $body$
        </main>
        <footer>
            <a class="utr-logo" href="http://www.uni-trier.de/?L=2" target="_blank" rel="noreferrer" title="Universtät Trier"></a>
            <a class="lzi-logo" href="http://www.dagstuhl.de/en/" target="_blank" rel="noreferrer" title="LZI Schloss Dagstuhl"></a>
        </footer>
    </body>
</html>
